* {
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}
h1 {
  background-color: #0c4f70;
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding: 2%;
  font-size: 5vw;
}
.misspuppy {
  display: none;
}
.puppysection1 div {
  margin: 8%;
}
.morepuppytext {
  text-align: center;
  font-size: 3vw;
  margin-top: 3%;
  font-family: sans-serif;
}
.puppysection2 div {
  margin: 8%;
}

/* media query part */

@media (min-width: 768px) {
  .misspuppy {
    color: black;
    background-color: #ee4d65;
    display: block;
  }
  .misspuppy p {
    text-align: center;
    font-size: 6vw;
    padding-top: 10%;
  }
  .puppysection1 {
    display: flex;
    justify-content: center;
    margin: 8%;
  }
  .puppysection1 div {
    width: 31.3%;
    margin: 1%;
  }
  .puppysection2 {
    display: flex;
    justify-content: center;
    margin: 8%;
  }
  .puppysection2 div {
    width: 44%;
    margin: 3%;
  }
}
